<!DOCTYPE html>
<html>
 
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
 
<body>
    <div class="container">
    <form action="edit" method="post" class=”form-group” style="margin-top: 50px;">
        <input type="text" name="name" class=”form-control” value="<%= name %>">
        <input type="hidden" name="id" value="<%= id %>">
        <button type="submit" name="button" class="btn btn-outline-dark">Post</button>
    </form>
    </div>
</body>
 
</html>